.sh{
    border: 2px solid;
    background-color: #343A40;
    display: flex;   
    justify-content: center;
}

#contain{
    padding: 20px;
    background-color:rgb(255, 255, 255);
}

#heading{
    text-align: center;
    color:#3055D2;
}